<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
    <listener class-name = "com.inetbanking.utilities.Reporting" />
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Academy/IdeaProjects/BankingProject1.0">
        <parameter name="browser" value="chrome">
        <classes>
            <class name="com.inetbanking.testcases.TC_LoginTest_001">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
        </parameter>
    </test>
</suite>